<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="Style.css" rel="stylesheet" />
</head>
<body>
    <div id="readme" class="readme blob instapaper_body">
        <article class="markdown-body entry-content" itemprop="text">
            <p><em>Namespace: <strong>@namespace</strong></em></p>
            @declaringType
            <h1>@methodname(<em>@params</em>) ➜ <em>returns @return</em></h1>
            @doc
            <h2>Normal Scenarios</h2>
            <table>
                <thead>
                    <tr>
                        <th>Object</th>
                        <th>Call</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    @tRows
                </tbody>
            </table>

            @remarks
            
        </article>
    </div>
</body>
</html>